<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Crochet</string>
	<key>CFBundleGetInfoString</key>
	<string>Crochet charting software</string>
	<key>CFBundleIconFile</key>
	<string>crochet.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.StitchWorksSoftware</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Crochet version 0.5.80-25</string>
	<key>CFBundleName</key>
	<string>Crochet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.80</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${APPLE_GUI_BUNDLE_VERSION}</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2011 Stitch Works Software. All rights reserved.</string>
</dict>
</plist>
