[Desktop Entry]
Name=Crochet Charts
Version=1.1.3
Comment=Design software for crochet charts
TryExec=CrochetCharts
Exec=CrochetCharts %F
Terminal=false
Icon=CrochetCharts
Type=Application
Categories=Graphics;
MimeType=application/x-crochetcharts-pattern;

